* {
    margin: 0;
    padding: 0;
    outline: none;
}

#app {
    font-family: Verdana, Helvetica, Arial, sans-serif;

}

pre {
    margin-bottom: 0;
    padding: 15px;
    border-radius: 5px;
}

a {
    color: #4b6577;
}

// a {
//     text-decoration: none;
// }

// Для активных ссылок, которые выбрал и нахожусь на данной странице
.router-link-exact-active {
    color: #fd7e14 !important;
    // font-weight: bold;
}


// BTN Зеленый
.button-light-green {
    background: #4fc08d;
    border: solid 1px;
    border-radius: 2em;
    font: inherit;
    padding: 0.75em 2em;
    cursor: pointer;
    color: #ffffff;
}

.button-light-green:hover {
    color: #4fc08d;
    transition: 0.5s;
    background: #ffffff;
}

.button-red {
    background: #4fc08d;
    border: solid 1px;
    border-radius: 2em;
    font: inherit;
    padding: 0.75em 2em;
    cursor: pointer;
    color: #ffffff;
}

.button-red:hover {
    color: #4fc08d;
    transition: 0.5s;
    background: #ffffff;
}

// color-btn red #dc3545
// color-btn поиск #007bff
// color-alert green #d4edda


// shadow box-shadow: 3px 4px 15px 8px rgba(34, 60, 80, 0.69);

// box-shadow: 3px 4px 15px 8px rgba(76, 138, 185, 0.69);   Shadow btn burger



// --bs-blue: #0d6efd;
// --bs-indigo: #6610f2;
// --bs-purple: #6f42c1;
// --bs-pink: #d63384;
// --bs-red: #dc3545;
// --bs-orange: #fd7e14;
// --bs-yellow: #ffc107;
// --bs-green: #198754;
// --bs-teal: #20c997;
// --bs-cyan: #0dcaf0;
// --bs-white: #fff;
// --bs-gray: #6c757d;
// --bs-gray-dark: #343a40;
// --bs-primary: #0d6efd;
// --bs-secondary: #6c757d;
// --bs-success: #198754;
// --bs-info: #0dcaf0;
// --bs-warning: #ffc107;
// --bs-danger: #dc3545;
// --bs-light: #f8f9fa;
// --bs-dark: #212529;